.brand {
    color: var(--secondary);
    font-weight: bold;
    font-family: 'Glory', sans-serif;
    font-size: 1.8rem;
}

footer {
    margin-top: 500px;
    background-color: #283E81;
    border-top: 3px solid var(--link);
    padding: 2rem 0;
    padding-bottom: 0;
    color: var(--secondary);
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer .social-media ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

footer .social-media i {
    font-size: 1.4rem;
    color: var(--secondary);
    transition: all 0.5s ease;
}

footer .social-media i:hover {
    color: var(--ad-color);
}

footer .hours {
    max-width: 250px;
}

footer .hours h5 {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--secondary);
}

footer .hours span {
    font-weight: normal;
    text-transform: lowercase;
    color: var(--secondary);
}

footer .hours h4 {
    margin: 0;
}

footer .hours hr {
    margin: 0.2rem 0 0.8rem 0;
    border: none;
    height: 2px;
    z-index: 100;
    background-color: var(--link);
    max-width: 40px;
}

footer h4 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

footer li {
    margin: 0.8rem 0;
    font-size: 1.1rem;
    margin-top: 0;
}

footer li a {
    color: var(--secondary);
    transition: all 0.5s ease;
}

footer li a:hover {
    color: var(--ad-color);
}

footer .quick-links i {
    font-size: small;
    margin-right: 0.2rem;
}

footer .our-contact li:last-child {
    display: flex;
}

footer .our-contact li:last-child i {
    font-size: 2rem;
}

footer .our-contact i {
    opacity: 0.65;
    margin-right: 0.3rem;
}

.copyright {
    padding: 1.5rem 0 1rem 0;
    background-color: var(--bg-color);
    color: white;
    font-weight: normal;
}

.copyright .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.copyright .copy {
    color: white;
}

.copyright a {
    color: white;
    font-weight: normal;
}

footer .social-media {
    margin-top: 10px;
}

.contacto li {
    text-transform: capitalize;
}

.brand,
.our-contact,
.our-services {
    width: 231px;
}

@media screen and (max-width:780px) {

    .brand,
    .our-contact,
    .our-services {
        margin: 15px 70px;
    }
}