:root {
    --primary: #283E81;
    --secondary: #E0DFF2;
    --bg-color: #3B62D9;
    --ad-color: #718BD9;
    --link: #F21D2F;
}

.swiper-container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.swiper-slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.swiper-slide img,
.swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que las imágenes y videos ocupen todo el espacio sin perder proporción */
}

/* Flechas de navegación */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 48px;
    outline: none;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

/* Paginación (bullets) */
.swiper-pagination-bullet {
    background: rgb(255, 255, 255);
    opacity: 0.8;
}

.swiper-pagination-bullet-active {
    background: #007BFF;
    opacity: 1;
}

/* Otros estilos específicos de la página principal */
.page-content {
    padding: 20px;
    background-color: #f8f8f8;
    color: var(--primary);
    min-height: 100vh;
}

.page-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.page-content p {
    line-height: 1.6;
    color: #333;
}
h2{
color:#f5f5f5;
}




.brands-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
  
}

.brands-section h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}

.brands-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;
}

.brand-logo {
    flex: 1 1 150px;
    max-width: 150px;
}

.brand-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}







video {
    width: 100%;
    height: 100%;

}


/*Categorias del catalogo*/
   
    .category-section {
        padding: 60px 0;
        background-color: #f5f5f7;
        text-align: center;
    }

    .category-section h2 {
        font-size: 2.5em;
        font-weight: 600;
        color: #1d1d1f;
        margin-bottom: 40px;
    }

    .categories-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .category-box {
        position: relative;
        height: 300px;
        background-image: url('/static/img/img_features/P-10.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        overflow: hidden;
        background-color: rgba(73, 73, 73, 0.3); 
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .category-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(5, 5, 5, 0.3); 
        z-index: 1;
    }

    .category-box:hover {
        transform: scale(1.05);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    .category-title {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2em;
        color: #fff; /* Blanco brillante */
        font-weight: 700;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        text-align: center;
        transition: color 0.3s ease;
    }

    .category-box:hover .category-title {
        color: #ffffff;
    }

    /* Responsividad */
   

/*Comunicarse via wpp*/

.contact-info {
    padding: 20px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-image {
    max-width: 100%; /* La imagen se adapta al contenedor */
    height: auto; /* Mantiene las proporciones */
    display: inline-block;
}

.featured-products-section {
    margin: 40px 0;
    text-align: center;
}

.featured-product {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.featured-product img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.featured-product .product-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.featured-product .btn {
    padding: 10px 20px;
    background-color: #3B62D9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.featured-product .btn:hover {
    background-color: #283E81;
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 1151px) {
    .contact-info {
        display: none;
    }

}