:root {
    --primary: #283E81;
    --secondary: #E0DFF2;
    --bg-color: #3B62D9;
    --ad-color: #718BD9;
    --link: #F21D2F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    margin: 0; /* Elimina posibles márgenes */
    background-image: url('/static/img/login.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;

}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;

}



.contenedor {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
   
}

.logo-container {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-container img {
    height: 100px;
    max-width: 100%;
    object-fit: contain;
}

.form-contenido {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

.form-contenido img {
    height: 100px;
}

.form-contenido h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.form-contenido .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.form-contenido .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
    z-index: 1;

    padding: 0 4px;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--ad-color);
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: var(--ad-color);
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.input-div.clave {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: var(--ad-color);
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: var(--primary);
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

#primer-clave {
    display: none;
}

.btn:hover {
    background: var(--ad-color);
}


.errmsg {
    position: relative;
    background-color: #ffe6e6;

    border: 1px solid #ffcccc;

    border-radius: 4px;

    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.errmsg::before {
    content: '⚠';

    font-size: 18px;
    margin-right: 8px;
}

.errmsg span {
    font-weight: bold;
    color: #d8000c;

}

.errmsg p {
    margin: 0;
}

.msg {
    position: relative;
    background-color: #e6ffe6;

    border: 1px solid #ccffcc;

    border-radius: 4px;

    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.msg::before {
    content: '✔';

    font-size: 18px;
    margin-right: 8px;
    color: #28a745;

}

.msg span {
    font-weight: bold;
    color: #155724;
}

.msg p {
    margin: 0;
}